body {
	background: #ffffff;
}

#coin {
	width: 300px;	
	height: 300px;
}

#container {
	width: 300px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding: 10px;
}

#container:hover {
	border: 1px	;
	border-color: #ffffff;
	border-style: solid;
}

#container:active {
	border: 9px;
	border-color: #ffffff;
	border-style: solid;
}

